---
layout: page
title: "About Me"
description: "Hey, this is Chengming Li."
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>冰冻三尺 非一日之寒<br>
    积土成山 非斯须之作</p></blockquote>

    <p><strong>个人简介</strong></p>
    <p><strong>李成明 (Chengming Li)</strong>，博士，中国科学院深圳先进技术研究院，数字所，副研究员。</p>

    <p>深圳市海外高层次人才、深圳市南山区领航人才入选者。分别于2009年7月和2011年12月在大连理工大学软件学院获得工学学士和工学硕士学位；于2015年3月在日本九州大学系统情报学府获得工学博士学位。作为项目负责人，主持多项科研课题，包括国家自然科学基金1项、深圳市基础研究2项。主要研究兴趣包括未来网络，信息中心网络、软件定义网络、边缘计算与物联网等。近年来，在国际会议和期刊上发表SCI/EI检索论文20多篇。</p>

    <p class="block-content">
      <div><Strong>Emails:</Strong> cm.li@siat.ac.cn</div>
      <strong>地址：</strong>广东省深圳市南山区西丽学苑大道1068号，邮编518055<br>
      Postcode: 518055
    </p>
    
    <p class="block-content">
      <div><strong>科研项目（部分）</strong></div>
      <ol>
        <li>深圳市基础研究，JCYJ20180302145607677，内容中心移动边缘计算网络服务机制研究，2019/01-2020-12，30万，在研，<strong>主持</strong></li>
        <li>国家自然科学基金面上，61772509， 高精度、高可用室内光定位技术研究， 2018/01-2021/12，63万，在研，<strong>参与</strong></li>
        <li>国家自然科学基金青年，61602462，基于社交关系与软件定义的内容中心网络多路转发及缓存机制研究，2017/01-2019/12, 20万, 在研，<strong>主持</strong></li>
        <li>国家自然科学基金青年，61601449，携能无线通信系统中多天线全双工中继传输方法研究，2017/01-2019/12, 20万, 在研，<strong>参与</strong></li>
        <li>深圳市技术攻关，JSGG20160608101338693，海生动物疫病诊断及海鲜品质量安全追溯系统平台关键技术研发，2017/01-2018/12, 300万，在研，<strong>参与</strong></li>
        <li>深圳市基础研究，JCYJ20150630114942277，内容中心网络绿色智能请求转发模型研究，2015/10-2017-09，40万，已结题，<strong>主持</strong></li>
      </ol>
    </p>

    <p class="block-content">
      <div><strong>发表论文（部分）</strong></div>
      <ul>
        <li>Wenfan Chen, Wei Liu, Lin Gao, Shimin Gong, <strong>Chengming Li</strong>, Kun Zhu. Backscatter-Aided Relay Communications in Wireless Powered Hybrid Radio Networks. IEEE Wireless Communications and Networking Conference (WCNC), 2019.</li>
        <li>Wenfan Chen, <strong>Chengming Li</strong>, Shimin Gong, Lin Gao, and Jing Xu.  Joint Transmission Scheduling and Power Allocation in Wirelessly Powered Hybrid Radio Networks. International Conference on Computing, Networking and Communications (ICNC), 2019.</li>
        <li><strong>Chengming Li</strong>, Shimin Gong, Zhaolong Ning, Laiping Zhao, Qinshan Jiang, Pan Zhou. Robust Caching Control in Crowdsourced Content-Centric Mobile Networking. IEEE access, 2018, 6: 59811-59821. (SCI检索，JCR 1区 )</li>
        <li>Jiachen Li, Jing Xu, Shimin Gong, <strong>Chengming Li</strong>, Dusit Niyato. A Game Theoretic Approach for Backscatter-Aided Relay Communications in Hybrid Radio Networks. IEEE Global Communications Conference (GLOBECOM), 2018.</li>
        <li>Zhihui Wang, Shijie Wang, Hong Wang, Haojie Li, <strong>Chengming Li</strong>. Weighted Multi-Feature Fusion Algorithm for FineGrained Image Retrieval. Pacific-Rim Conference on Multimedia (PCM), 2018.</li>
        <li><strong>Chengming Li</strong>, Shimin Gong, Xiaojie Wang, Lei Wang, Qinshan Jiang, Koji Okamura. Secure and Efficient Content Distribution in Crowdsourced Vehicular Content-Centric Networking. IEEE access, 2018, 6:5727-5739.  (SCI检索，JCR 1区 )</li>
        <li>A S M Touhidul Hasan, Qiang Qu, <strong>Chengming Li</strong>, Lifei Chen and Qingshan Jiang. An Effective Privacy Architecture to Preserve User Trajectories in Reward-based LBS Applications. ISPRS International Journal of Geo-Information, 2018, 7(53):1-16. (SCI检索)</li>
        <li><strong>Chengming Li</strong>, Xiaojie Wang, Shimin Gong, Zhi-Hui Wang, Qingshan Jiang. Performance Analysis for Content Distribution in Crowdsourced Content-Centric Mobile Networking. Proceedings of the 13th International Conference on Heterogeneous Networking for Quality, Reliability, Security and Robustness, QShine, pp. 131--141, Springer, 2017.</li>
        <li>A S M Touhidul Hasan, Qingshan Jiang, <strong>Chengming Li</strong>. An Effective Grouping Method for Privacy-Preserving Bike Sharing Data Publishing. Future Internet, 2017, 9(4): 65.  (EI检索)</li>
        <li>Wei Zhang , Qingshan Jiang, Lifei Chen, <strong>Chengming Li</strong>. Two-stage ELM for Phishing Web Pages Detection Using Hybrid Features. World Wide Web-internet & Web Information Systems, 2017, 20(4):797-813.  (SCI检索)</li>
        <li>A S M Touhidul Hasan, Qingshan Jiang, Jun Luo, <strong>Chengming Li</strong>, Lifei Chen. An effective value swapping method for privacy preserving data publishing. Security & Communication Networks, 2016, 9(16):3219–3228.  (SCI检索)</li>
        <li><strong>Chengming Li</strong>, Wenjing Liu, Lei Wang, Mingchu Li, Koji Okamura. Energy-Efficient Quality of Service Aware Forwarding scheme for Content-Centric Networking. Journal of Network and Computer Applications, 2015, 58:241-254.  (SCI检索，中科院1区 )</li>
        <li><strong>Chengming Li</strong>, Koji Okamura. Trusted Storage Virtualization in Cloud Computing. Proceedings of the 38th Asia-Pacific Advanced Network, pp. 123-136, 2014.</li>
        <li>Zhaolong Ning, Koji Okamura, <strong>Chengming Li</strong>. Power allocation for two-way relay channel in wireless bidirectional networks. 2013 IEEE Malaysia International Conference on, Communications (MICC), pp. 46–50, IEEE 2013.</li>
        <li><strong>Chengming Li</strong>, Koji Okamura, Wenjing Liu. Ant Colony Based Forwarding Method for Content-Centric Networking. The 27th International Conference on Advanced Information Networking and Applications Workshops (WAINA), pp. 306-311, IEEE 2013.</li>
        <li><strong>Chengming Li</strong>, Wenjing Liu, Koji Okamura. A greedy ant colony forwarding algorithm for Named Data Networking. Proceedings of the 34th Asia-Pacific Advanced Network, pp. 17-26, 2012.</li>
      </ul>
    </p>

    <p class="block-content">
      <div><strong>申请专利（部分）</strong></div>
      <ul>
        <li><strong>李成明</strong>, 陈会, 张巍, 姜青山. 一种内容中心网络的能耗控制方法. 中国发明专利. 证书号：第3093502; 专利号：ZL2015 1 1026354.4.</li>
        <li><strong>李成明</strong>, 陈会, 张巍, 姜青山. 一种内容中心网络的缓存方法及装置. 中国发明专利. 申请号：CN201710117783.5</li>
        <li><strong>李成明</strong>, 陈会,  姜青山. 内容中心移动网络的内容分发方法、装置、设备及介质. 中国发明专利. 申请号：CN201711137108.5</li>
        <li><strong>李成明</strong>，胡青，姜青山. 一种基于内容中心网络的域协同缓存方法及装置. 中国发明专利. 申请号：CN 201811020944.X</li>
      </ul>
    </p>


    <!-- <p>这是我的利用 <a href="https://pages.github.com/">GitHub Pages</a> 与 <a href="http://jekyll.com.cn/">Jekyll</a> 搭建的 个人博客。我在GitHub主页<a href="https://github.com/clairejing">👉GitHub·BY</a> 与 简书主页<a href="https://http://www.jianshu.com/u/e71990ada2fd">👉BY</a>。如果有什么问题，欢迎提出探讨~</p> -->

    <p></p>

    <h5>Talks</h5>

    <ul>
        <li><a href="https://github.com">GitHub</a></li>
        <li><a href="http://jekyll.com.cn/">jekyll</a></li>
        <!-- <li><a href="http://huangxuan.me/">Hux</a></li> -->
        <!-- <li><a href="https://analytics.google.com/analytics">Google Analytics</a></li> -->
    </ul>
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p> If you want to be successful, it's just this simple. <br>
    Know what you are doing. Love what you are doing. And believe in what you are doing.</p></blockquote>
    
    <p><strong>Summary</strong></p>
    
    <p><strong>Chengming Li (李成明)</strong>, Ph.D., associate professor, Shenzhen Institutes of Advanced Technology(SIAT), Chinese Academy of Science(CAS).</p>
    
    <p>I'm now an associate professor at Shenzhen Institutes of Advanced Technology(SIAT), Chinese Academy of Science(CAS), China. 
        I obtained Shenzhen Overseas High-level Talents Award in 2015. I received the Ph.D. degree in Graduate School of Information Science and Electrical Engineering from Kyushu University, Japan, in 2015. 
        As the principle investigator, I participated in multiple research projects including 1 Nature Science Foundation of China project, 2 Shenzhen Fundamental Research Foundation projects, and 1 Shenzhen Key Technologies project. 
        My research interests include Information-Centric Networking, Software Defined Networking, Internet of Things, and Mobile Edge Computing.
        I have published over 20 high quality journal and conference papers.  </p>

    <p class="block-content">
      <div><Strong>Emails:</Strong> cm.li@siat.ac.cn</div>
      <strong>Address:</strong>1068 Xueyuan Blvd., Shenzhen, Guangdong, China 
      Postcode: 518055
    </p>

    <p class="block-content">
      <div><strong>Selected Projects</strong></div>
      <ol>
        <li>深圳市基础研究，JCYJ20180302145607677，内容中心移动边缘计算网络服务机制研究，2019/01-2020-12，30万，在研，<strong>主持</strong></li>
        <li>国家自然科学基金面上，61772509， 高精度、高可用室内光定位技术研究， 2018/01-2021/12，63万，在研，<strong>参与</strong></li>
        <li>国家自然科学基金青年，61602462，基于社交关系与软件定义的内容中心网络多路转发及缓存机制研究，2017/01-2019/12, 20万, 在研，<strong>主持</strong></li>
        <li>国家自然科学基金青年，61601449，携能无线通信系统中多天线全双工中继传输方法研究，2017/01-2019/12, 20万, 在研，<strong>参与</strong></li>
        <li>深圳市技术攻关，JSGG20160608101338693，海生动物疫病诊断及海鲜品质量安全追溯系统平台关键技术研发，2017/01-2018/12, 300万，在研，<strong>参与</strong></li>
        <li>深圳市基础研究，JCYJ20150630114942277，内容中心网络绿色智能请求转发模型研究，2015/10-2017-09，40万，已结题，<strong>主持</strong></li>
      </ol>
    </p>

    <p class="block-content">
      <div><strong>Selected Publications</strong></div>
      <ul>
        <li>Wenfan Chen, Wei Liu, Lin Gao, Shimin Gong, <strong>Chengming Li</strong>, Kun Zhu. Backscatter-Aided Relay Communications in Wireless Powered Hybrid Radio Networks. IEEE Wireless Communications and Networking Conference (WCNC), 2019.</li>
        <li>Wenfan Chen, <strong>Chengming Li</strong>, Shimin Gong, Lin Gao, and Jing Xu.  Joint Transmission Scheduling and Power Allocation in Wirelessly Powered Hybrid Radio Networks. International Conference on Computing, Networking and Communications (ICNC), 2019.</li>
        <li><strong>Chengming Li</strong>, Shimin Gong, Zhaolong Ning, Laiping Zhao, Qinshan Jiang, Pan Zhou. Robust Caching Control in Crowdsourced Content-Centric Mobile Networking. IEEE access, 2018, 6: 59811-59821. (SCI检索，JCR 1区 )</li>
        <li>Jiachen Li, Jing Xu, Shimin Gong, <strong>Chengming Li</strong>, Dusit Niyato. A Game Theoretic Approach for Backscatter-Aided Relay Communications in Hybrid Radio Networks. IEEE Global Communications Conference (GLOBECOM), 2018.</li>
        <li>Zhihui Wang, Shijie Wang, Hong Wang, Haojie Li, <strong>Chengming Li</strong>. Weighted Multi-Feature Fusion Algorithm for FineGrained Image Retrieval. Pacific-Rim Conference on Multimedia (PCM), 2018.</li>
        <li><strong>Chengming Li</strong>, Shimin Gong, Xiaojie Wang, Lei Wang, Qinshan Jiang, Koji Okamura. Secure and Efficient Content Distribution in Crowdsourced Vehicular Content-Centric Networking. IEEE access, 2018, 6:5727-5739.  (SCI检索，JCR 1区 )</li>
        <li>A S M Touhidul Hasan, Qiang Qu, <strong>Chengming Li</strong>, Lifei Chen and Qingshan Jiang. An Effective Privacy Architecture to Preserve User Trajectories in Reward-based LBS Applications. ISPRS International Journal of Geo-Information, 2018, 7(53):1-16. (SCI检索)</li>
        <li><strong>Chengming Li</strong>, Xiaojie Wang, Shimin Gong, Zhi-Hui Wang, Qingshan Jiang. Performance Analysis for Content Distribution in Crowdsourced Content-Centric Mobile Networking. Proceedings of the 13th International Conference on Heterogeneous Networking for Quality, Reliability, Security and Robustness, QShine, pp. 131--141, Springer, 2017.</li>
        <li>A S M Touhidul Hasan, Qingshan Jiang, <strong>Chengming Li</strong>. An Effective Grouping Method for Privacy-Preserving Bike Sharing Data Publishing. Future Internet, 2017, 9(4): 65.  (EI检索)</li>
        <li>Wei Zhang , Qingshan Jiang, Lifei Chen, <strong>Chengming Li</strong>. Two-stage ELM for Phishing Web Pages Detection Using Hybrid Features. World Wide Web-internet & Web Information Systems, 2017, 20(4):797-813.  (SCI检索)</li>
        <li>A S M Touhidul Hasan, Qingshan Jiang, Jun Luo, <strong>Chengming Li</strong>, Lifei Chen. An effective value swapping method for privacy preserving data publishing. Security & Communication Networks, 2016, 9(16):3219–3228.  (SCI检索)</li>
        <li><strong>Chengming Li</strong>, Wenjing Liu, Lei Wang, Mingchu Li, Koji Okamura. Energy-Efficient Quality of Service Aware Forwarding scheme for Content-Centric Networking. Journal of Network and Computer Applications, 2015, 58:241-254.  (SCI检索，中科院1区 )</li>
        <li><strong>Chengming Li</strong>, Koji Okamura. Trusted Storage Virtualization in Cloud Computing. Proceedings of the 38th Asia-Pacific Advanced Network, pp. 123-136, 2014.</li>
        <li>Zhaolong Ning, Koji Okamura, <strong>Chengming Li</strong>. Power allocation for two-way relay channel in wireless bidirectional networks. 2013 IEEE Malaysia International Conference on, Communications (MICC), pp. 46–50, IEEE 2013.</li>
        <li><strong>Chengming Li</strong>, Koji Okamura, Wenjing Liu. Ant Colony Based Forwarding Method for Content-Centric Networking. The 27th International Conference on Advanced Information Networking and Applications Workshops (WAINA), pp. 306-311, IEEE 2013.</li>
        <li><strong>Chengming Li</strong>, Wenjing Liu, Koji Okamura. A greedy ant colony forwarding algorithm for Named Data Networking. Proceedings of the 34th Asia-Pacific Advanced Network, pp. 17-26, 2012.</li>
      </ul>
    </p>

    <p class="block-content">
      <div><strong>Selected Patents</strong></div>
      <ul>
        <li><strong>李成明</strong>, 陈会, 张巍, 姜青山. 一种内容中心网络的能耗控制方法. 中国发明专利. 证书号：第3093502; 专利号：ZL2015 1 1026354.4.</li>
        <li><strong>李成明</strong>, 陈会, 张巍, 姜青山. 一种内容中心网络的缓存方法及装置. 中国发明专利. 申请号：CN201710117783.5</li>
        <li><strong>李成明</strong>, 陈会,  姜青山. 内容中心移动网络的内容分发方法、装置、设备及介质. 中国发明专利. 申请号：CN201711137108.5</li>
        <li><strong>李成明</strong>，胡青，姜青山. 一种基于内容中心网络的域协同缓存方法及装置. 中国发明专利. 申请号：CN 201811020944.X</li>
      </ul>
    </p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <!-- <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://clairejing.github.io">BY</a></li> --!>
    </ul>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

